<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../stylesss.css">
</head>
<body>
    {{temp}}
    <div class=background>
        <h1>LOGIN PAGE</h1>
        <form class="input"action="/m_reg/" method="post">
            <span>ID</span><input type="text" value="name" name="m_name"><br>
            <span>ADDRESS</span><input type="text" value="address"name="m_addr"><br>
            <span>PHONE</span><input type="text" value="phone" name="m_phone"><br>

            <div class="btn>"><input type="submit" value="SEND"></div>
        </form>
    </div>
</body>
</html>